body {
  /* background-color: red; */
  font-family: "Plus Jakarta Sans", sans-serif !important;
}

/* making footer stick at the bottom */
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.container {
  flex: 1;
  /* min-height: 100%; */
}

/* navbar */

.fa-compass {
  color: #ff385c;
  font-size: 2rem;
}

.navbar {
  height: 5rem;
  margin-bottom: 10px;
  background-color: #ffffff;
}

.nav-link {
  color: #222222 !important; /*important lagane se bootstrap ki styling override ho jati h*/
}

/* footer */
.f-info-links a {
  text-decoration: none;
  color: black;

  &:hover {
    /*hover likhne ka shortcut h*/
    text-decoration: underline;
  }
}

.f-info {
  background-color: rgba(128, 128, 128, 0.295);
  text-align: center;
  padding: 10px;
}

.f-info-links {
  display: flex;
  justify-content: center;
  padding: 10px;
  & a {
    margin: 0 10px;
  }
}
.f-info-links a {
  text-decoration: none;
  color: black;
}

.f-info-socials {
  justify-content: center;
  margin-top: 10px;
  & i {
    font-size: 1.3rem;
    margin: 0 10px;
  }
}

.f-info-company {
  margin-top: 10px;
  font-size: medium;
  color: black;
}

/* cards */
.card {
  border: none !important;
  margin-bottom: 10px;
  transition: 0.21s ease !important;

  &:hover {
    transform: scale(1.02) !important;
  }
}

.card-img-top {
  border-radius: 1rem !important;
  width: 100% !important;
  object-fit: cover !important;
}

.card-body {
  padding: 0rem !important;
}

.link-text {
  text-decoration: none;
  color: black;
}

/* btn-color */
.btn-primary {
  background-color: #ff385c !important;
  border: none !important;
  &:hover {
    background-color: #ff385dee !important;
    border: none !important;
    /* shadow on btn */
    transform: translateY(-2px) !important;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
  }
}

/* show page */
#deleteButton {
  background-color: black !important;
}

/* Map */
#map {
  height: 400px;
  width: 80vh;
}
